{% load static %}
{% load compress %}
{% load humanize %}

<!DOCTYPE html>
<html lang="ko">
<meta charset="UTF-8">
<head>
    <title>wanted_pre_onboarding</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="bg-green-50">

    <!-- Add this -->
    <nav class="bg-green-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="/employments/" class="flex items-center">
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">LOGO</span>
          </a>
        </div>
        <div class="self-center text-xl px-4">메인화면</div>
        <div class="self-center text-xl px-4">
            사용자: {% if request.user.is_anonymous %} 로그인 필요
        {% else %}
            {{ request.user }}
        {% endif %}
        </div>
    </nav>
    <!-- End of new HTML -->

    <div class="container">
        <!-- search -->
        <form>
            <label for="default-search"
                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </div>
                <input type="search" id="default-search"
                       class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="채용포지션, 내용..." required="">
                <button type="button"
                    class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        onclick="search_employments_post()">
                    찾기
                </button>
            </div>
        </form>

    </div>

    <button type="button" class="inline-flex items-center p-2 ml-3 text-sm text-blue-500 rounded-lg"
            onclick="location.href='create/'">글 쓰기</button>

    {% if messages %}
        {% for message in messages %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">비정상적인 접근!</strong>
                <span class="block sm:inline">{{ message }}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
            </div>
        {% endfor %}
    {% endif %}

    {% if object_list %}
        {% for employment_post in object_list %}
            <div class="container mx-auto">
                <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <h2 class="mb-6 text-3xl text-green-800">
                        {{ employment_post.employments_position }}</h2>
                    <div>회사명: {{ employment_post.company_id }}</div>
                    <div>채용보상금: {{ employment_post.employments_compensation | intcomma }}</div>
                    <div>내용: {{ employment_post.employments_text | truncatewords:2 }}</div>
                    <div>기술: {{ employment_post.employments_tech_to_use }}</div>
                    <div>위치: {{ employment_post.company_id.company_address }}</div>
                    <button type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg"
                            onclick="location.href='{{ employment_post.pk }}'">읽으러 가기</button>
                </div>
            </div>
        {% endfor %}

    {% else %}
    <h1>내용이 없습니다.</h1>
    {% endif %}

    <script>
        function search_employments_post() {
            let search_value;
            search_value = document.getElementById('default-search').value;
            location.href = {{ object_list.get_absolute_url }}"search/" + search_value;
        }
    </script>
    <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>