{% load static %}
{% load compress %}
{% load humanize %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <title>wanted_pre_onboarding</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="bg-green-50">

    <!-- Add this -->
    <nav class="bg-green-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="/employments/" class="flex items-center">
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">LOGO</span>
          </a>
        </div>
        <div class="self-center text-xl px-4">메인화면</div>
        <div class="self-center text-xl px-4">
            사용자: {% if request.user.is_anonymous %} 로그인 필요
        {% else %}
            {{ request.user }}
        {% endif %}
        </div>
    </nav>
    <!-- End of new HTML -->
    <button type="button" class="inline-flex items-center p-2 ml-3 text-sm text-blue-500 rounded-lg">글 쓰기</button>
    {% if object_list %}
        {% for employment_post in object_list %}
            <div class="container mx-auto">
                <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <h2 class="mb-6 text-3xl text-green-800">
                        {{ employment_post.employments_position }}</h2>
                    <div>회사명: {{ employment_post.company_id }}</div>
                    <div>채용보상금: {{ employment_post.employments_compensation | intcomma }}</div>
                    <div>내용: {{ employment_post.employments_text | truncatewords:2 }}</div>
                    <div>기술: {{ employment_post.employments_tech_to_use }}</div>
                    <div>위치: {{ employment_post.company_id.company_address }}</div>
                    <button type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg"
                            onclick="location.href='{{ employment_post.pk }}'">읽으러 가기</button>

                </div>
            </div>
        {% endfor %}

    {% else %}
    <h1>내용이 없습니다.</h1>
    {% endif %}

    <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>